@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cookie_consent_wrapper_popup {
  animation: popup 2s ease;
  bottom: 5rem;
}

@keyframes popup {
  0% {
    bottom: 0rem;
  }

  100% {
    bottom: 5rem;
  }
}
